.pokemonSearcherContainer{
    display: grid;
    height: calc(100vh - 180px);
    width: 80vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: "search-bar ."
    "card-list selected-card"
    "backwards-button forwards-button";
    
}

.searchBarContainer{
    grid-area: search-bar;

}

.cardListContainer{
    grid-area: card-list;
}

.selectedCardContainer{
    grid-area: selected-card;
    padding-left: 20%;
}

.backwardsButtonContainer{
    grid-area: backwards-button;
    align-self: flex-end;
}

.forwardsButtonContainer{
    grid-area: forwards-button;
    align-self: flex-end;
    justify-self: end;
}