.pokemonSearcherContainer{
    display: grid;
    height: calc(100vh - 180px);
    width: 80vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: "search-bar ."
    "card-list selected-card"
    "backwards-button forwards-button";
    
}

.searchBarContainer{
    grid-area: search-bar;
    background-color: red;
    border: 1px solid red;

}

.cardListContainer{
    grid-area: card-list;
    background-color: blue;
    border: 1px solid red;
}

.selectedCardContainer{
    grid-area: selected-card;
    background-color: aqua;
    padding-left: 20%;
    border: 1px solid red;
}

.backwardsButtonContainer{
    grid-area: backwards-button;
    background-color: purple;
    align-self: flex-end;
    border: 1px solid red;
}

.forwardsButtonContainer{
    grid-area: forwards-button;
    background-color: gray;
    align-self: flex-end;
    justify-self: end;
    border: 1px solid red;
}