
.selectedCard{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    background-color: gray;
}

.selectedCardContainer{
    width: 90%;
    height: 95%;
    border: 1px solid blue;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 1;
}

.selectedCardContainer h5{
    font-size: 1.3rem;
}